<!-- PROGRESS BAR -->
<fuse-progress-bar fxHide.lt-md></fuse-progress-bar>
<!-- / PROGRESS BAR -->

<!-- VERTICAL LAYOUT 1 -->
<ng-container>
    <vertical-layout fxHide.lt-md></vertical-layout>
</ng-container>
<!-- / VERTICAL LAYOUT 1 -->

<div class="w-100-p" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="4px" fxHide fxShow.lt-md>
    <img src="assets/images/logos/mmb.png" class="w-48" />
    <div class="accent-fg mt-12">Movemeback talent portal</div>
    <h2>Please login on desktop</h2>
    <div class="secondary-text small">
        The mobile view will be coming soon....
    </div>
</div>