<div class="d-flex flex-column justify-content-center align-items-center p-2">
    <img src="{{ image }}" alt="About Movemeback founder" class="img-responsive circle w-50">
    <h4 class="text-center mt-2 mb-1 text-secondary">{{ title }}</h4>
    <h6 class="text-center my-1">{{ subheading }}</h6>
    <p class="text-center my-1 text-dark">
        {{ description }}
    </p>
    <div class="d-flex justify-content-center">
        <a class="mr-5" href="https://www.linkedin.com{{ linkedin }}" target="_blank">
            <i class="ri-linkedin-fill"></i>
        </a>
        <a href="https://twitter.com{{ twitter }}" target="_blank">
            <i class="ri-twitter-fill"></i>
        </a>
    </div>
</div>