#dashboard-project {

    .selected-career {
        background: rgba(0, 0, 0, 0.12);
        color: #FFFFFF;
        padding: 8px 16px;
        height: 40px;
        line-height: 24px;
        font-size: 16px;
        border-radius: 8px 0 0 0;
    }

    .career-selector {
        margin-left: 1px;
        background: rgba(0, 0, 0, 0.12);
        border-radius: 0 8px 0 0;

        mat-icon {
            color: #FFFFFF;
        }
    }
}

.mat-menu-panel.my-class {
    max-width: none !important;
    width: 500px !important;
}
