<section class="top-banner">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Africa’s global community</h1>

        <h4>Get connected to people, opportunities & resources you need to grow on The Continent</h4>

        <a href="#" class="button primary large-button auth-join" [routerLink]="'register'">Join Now</a>
        <a href="#" class="button outline large-button" [routerLink]="'login'">Login</a>

        <div class="company-logos">
          <img src="assets/images/bbc.svg" alt="" class="bbc">
          <img src="assets/images/huff-post.svg" alt="" class="huff-post">
          <img src="assets/images/McKinsey.png" alt="" class="McKinsey">
          <img src="assets/images/financial.svg" alt="" class="financial">
          <img src="assets/images/quartz.svg" alt="" class="quartz">
          <img src="assets/images/techcabal.png" alt="" class="techcabal">
          <img src="assets/images/lseg.svg" alt="" class="lseg">
          <img src="assets/images/france.svg" alt="" class="france">
        </div>
      </div>
    </div>
  </div>
</section>

<section class="build-future">
  <div class="container">
    <div class="row">
      <div class="col-xl-5 offset-xl-7 col-lg-7">
        <img src="assets/images/back2-center.jpg" alt="" class="mobile-image">
        <div class="wrapper">
          <p class="text-h1">Build the future</p>
          <p class="description">Whether you are operating from Accra or Kigali, London or Tokyo — The future of The
            Continent is now and is rooted in the quantity of quality of
            connections</p>
          <a href="#" class="button primary large-button">Join Now</a>

          <ul>
            <li>
              Huge opportunities to make impact
            </li>

            <li>
              Never been a better time to get involved
            </li>

            <li>
              Access the help you need to thrive
            </li>

          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="digital-community">
  <div class="container">
    <div class="row">
      <div class="col-lx-6 col-md-12">
        <p class="sub-title">Your personal</p>
        <p class="text-h1 title">Digital community</p>

        <p class="description">Curated community platform enabling you to navigate the Continent through connections
          to new people,
          opportunities & access to answers and resources</p>

        <div class="what-will-do">
          <p class="title">What will you do?</p>

          <ul>
            <li>Move-back</li>
            <li>Accelerate your career with a new role</li>
            <li>Find a new learning or development experience</li>
            <li>Find a business partner or co-founder</li>
            <li>Support and invest in others</li>
          </ul>

          <a href="#" class="button contained large-button">Join now</a>
        </div>

      </div>
    </div>
  </div>

</section>

<section class="opportunities">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p class="sub-title">Opportunities</p>
        <p class="text-h1 title">
          Curated for you <span class="style-1">every week</span>
        </p>
        <p class="text-h6 description">Get matched with high-impact opportunities hand-picked for you every week.
          Lorem
          ipsum something more. Lorem
          ipsum something more.</p>
        <a href="#" class="button primary large-button d-inline-block">Join now</a>

        <div class="section-image">
          <img src="assets/images/opportunities.jpg" alt="" class="desktop">
          <img src="assets/images/opportunities-mobile.jpg" alt="" class="mobile">
          <div class="grandient left"></div>
          <div class="grandient right"></div>
        </div>

        <div class="section-slider">
          <div class="row">
            <div class="col-lg-2 offset-lg-2 col-md-4 col-4">

              <img src="assets/images/person1.jpg" alt="">

            </div>
            <div class="col-lg-6 col-md-8 col-8">
              <div class="slider-content">
                <div>
                  <p class="text-h3 small title">Case Study 1</p>
                  <p class="content">Julia joined Facebook to help lead their engagement with African leaders and
                    policy makers. Lorem
                    ipsum delorium. That turned out very lorem ipsum.</p>
                </div>

                <div>
                  <p class="text-h3 small title">Case Study 1</p>
                  <p class="content">Julia joined Facebook to help lead their engagement with African leaders and
                    policy makers. Lorem
                    ipsum delorium. That turned out very lorem ipsum.</p>
                </div>

                <div>
                  <p class="text-h3 small title">Case Study 1</p>
                  <p class="content">Julia joined Facebook to help lead their engagement with African leaders and
                    policy makers. Lorem
                    ipsum delorium. That turned out very lorem ipsum.</p>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

</section>

<section class="journey">
  <div class="main-content">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-12">
          <p class="sub-title">Meet people who can</p>
          <p class="text-h1 title">Help you on your journey</p>

          <p class="description">Optimise for meeting people outside of your existing circle</p>
          <p class="description">Get recommendations for new people you should meet on a regular basis</p>
          <p class="description">Recommend people in your circles who should meet and help them expand their reach
          </p>

          <div class="how-to-work">
            <p class="title">How does it work?</p>

            <ul>
              <li>Join</li>
              <li>Share your story and your goals</li>
              <li>Get introduced to new, interesting people </li>
              <li>Get matched to new opportunities</li>
              <li>Get help with your questions and needs</li>
            </ul>

            <a href="#" class="button contained large-button">Join now</a>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="section-slider">
    <div class="container">
      <div class="row">
        <div class="col-lg-2 offset-lg-2 col-md-4 col-4">

          <img src="assets/images/person2.png" alt="">

        </div>
        <div class="col-lg-6 col-md-8 col-8">
          <div class="slider-content">
            <div>
              <p class="text-h3 small title">Case Study 1</p>
              <p class="content">Julia joined Facebook to help lead their engagement with African leaders and
                policy makers. Lorem
                ipsum delorium. That turned out very lorem ipsum.</p>
            </div>

            <div>
              <p class="text-h3 small title">Case Study 1</p>
              <p class="content">Julia joined Facebook to help lead their engagement with African leaders and
                policy makers. Lorem
                ipsum delorium. That turned out very lorem ipsum.</p>
            </div>

            <div>
              <p class="text-h3 small title">Case Study 1</p>
              <p class="content">Julia joined Facebook to help lead their engagement with African leaders and
                policy makers. Lorem
                ipsum delorium. That turned out very lorem ipsum.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="with-community">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p class="sub-title">Get accelerated through your journey</p>
        <p class="text-h1 title">
          With your <span class="style-1">community</span>
        </p>
        <p class="text-h6 description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eu tristique
          eros.
          Nam mattis iaculis leo, nec mattis lacus viverra ut. Orci varius natoque penatibus.</p>
        <a href="#" class="button primary large-button d-inline-block">Join now</a>
      </div>
    </div>

    <div class="wrapper">
      <div class="row">
        <div class="col-md-6">
          <img src="assets/images/phone1.jpg" alt="">
        </div>

        <div class="col-md-6">
          <div class="list-cards">
            <div class="list-card">
              <p class="title">
                Al
              </p>
              <p class="detail">Our AI will learn about what you need and what you can do to help you find the right
                opportunities just
                in time</p>
            </div>

            <div class="list-card active">
              <p class="title">
                Community
              </p>
              <p class="detail">Curated community platform enabling you to navigate the Continent through
                connections
                to new people,
                opportunities and access to answers and resources</p>
            </div>

            <div class="list-card">
              <p class="title">
                Coach
              </p>
              <p class="detail">Get a dedicated coach to support your journey</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="organisation">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p class="text-h3 small sub-title">
          Grow your
        </p>
        <h1>Organisation on
          The Continent</h1>

        <h4>Tap into a global community of Africa’s brightest local and international talent across 170 countries
        </h4>

        <a href="#" class="button secondary large-button auth-join">Join as Organisation</a>

        <ul class="item-lists">
          <li>Build entire teams to enter new markets</li>
          <li>Launch new products</li>
          <li>Get extensive on hand support and consultancy</li>
          <li>Reach new partners, customer and influencers</li>
        </ul>

        <p class="description text-h6 small">We support hundreds of leading organisations of all sizes, to solve
          top-most challenges
          and unlock their greatest opportunities entering, operating in, or expanding across Africa</p>

        <div class="company-logos">
          <img src="assets/images/jumia-logo.png" alt="" class="jumia">
          <img src="assets/images/uber-logo.png" alt="" class="uber">
          <img src="assets/images/wikimedia-logo.png" alt="" class="wikimedia">
          <img src="assets/images/findus-logo.png" alt="" class="findus">
          <img src="assets/images/fcmb-logo.png" alt="" class="fcmb">
          <img src="assets/images/engie-logo.png" alt="" class="engie">
          <img src="assets/images/dalberg-logo.png" alt="" class="dalberg">
          <img src="assets/images/fsd-logo.png" alt="" class="fsd">
        </div>
      </div>

    </div>
  </div>
</section>

<section class="testimonials">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p class="text-h3 small">See what others say</p>
        <p class="text-h1">Testimonials</p>
      </div>

      <div class="col-md-12">
        <div class="testimoinal-slider">
          <div>
            <p class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum porttitor et
              justo
              eu venenatis. Curabitur sit amet mollis quam. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Vestibulum porttitor et justo eu venenatis. Curabitur sit amet mollis quam. Lorem ipsum delorium etum
            </p>

            <div class="author">
              <img src="assets/images/avatar1.jpg" alt="" class="avartar">
              <div class="user-info">
                <p class="username">Name Surname</p>
                <p class="location">UX President at <span>J.P. Morgan</span> </p>
              </div>
            </div>

          </div>

          <div>
            <p class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum porttitor et
              justo
              eu venenatis. Curabitur sit amet mollis quam. Pellentesque ut ante leo.</p>

            <div class="author">
              <img src="assets/images/avatar3.jpg" alt="" class="avartar">
              <div class="user-info">
                <p class="username">Name Surname</p>
                <p class="location">UX President at <span>J.P. Morgan</span> </p>
              </div>
            </div>
          </div>

          <div>
            <p class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum porttitor et
              justo
              eu venenatis. Curabitur sit amet mollis quam. Pellentesque ut ante leo. Donec ac gravida libero.</p>

            <div class="author">
              <img src="assets/images/avatar1.jpg" alt="" class="avartar">
              <div class="user-info">
                <p class="username">Name Surname</p>
                <p class="location">UX President at <span>J.P. Morgan</span> </p>
              </div>
            </div>
          </div>

          <div>
            <p class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum porttitor et
              justo
              eu venenatis. Curabitur sit amet mollis quam. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Vestibulum porttitor et justo eu venenatis. Curabitur sit amet mollis quam. Lorem ipsum delorium etum
            </p>

            <div class="author">
              <img src="assets/images/avatar3.jpg" alt="" class="avartar">
              <div class="user-info">
                <p class="username">Name Surname</p>
                <p class="location">UX President at <span>J.P. Morgan</span> </p>
              </div>
            </div>
          </div>

          <div>
            <p class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum porttitor et
              justo
              eu venenatis. Curabitur sit amet mollis quam. Pellentesque ut ante leo. Donec ac gravida libero.</p>

            <div class="author">
              <img src="assets/images/avatar2.jpg" alt="" class="avartar">
              <div class="user-info">
                <p class="username">Name Surname</p>
                <p class="location">UX President at <span>J.P. Morgan</span> </p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>

<section class="newsletter">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <img src="assets/images/logo-white-blue-badge-2.svg" alt="">

        <p class="text-h1 title">
          Exclusive weekly newsletter
        </p>

        <p class="text-h6 small description">
          Get the latest news from The Continent. We’ll send you weekly pulse check of actionable insight in line
          with
          The Continent 500 Transformation Goals!
        </p>

        <div class="newsletter-form">
          <input type="text" placeholder="Your email address">
          <button class="button primary large-button">Subscribe</button>
        </div>
      </div>
    </div>
  </div>

</section>

<mmb-web-app-footer></mmb-web-app-footer>