.icon-button, .icon-button:focus, .icon-button:active {
    background: transparent;
    color: $secondary;
    height: 60px;
    padding: 10px;
    .icon-text {
        display: block;
    }
    .active {
        color: $primary;
    }
    &:hover {
        background: transparent;
        color: $primary;
    }
}

.btn-sm {
    padding: 5px 25px;
}

.mmb-secondary-button {
    background: $white;
    border: 1px solid $btn-color--secondary;
    color: $btn-color--secondary;
    padding: $spacer * 2 $spacer * 3;
    border-radius: 1.5rem;
    height: 45px;
    &:hover {
        background: $primary;
        color: $white;
        border-color: $primary;
    }
}

.mmb-button--sm {
    padding: $spacer $spacer * 3;
    font-size: $font-size-sm;
    height: 35px;
}

.mmb-primary-button {
    background: $primary;
    border: 1px solid $white;
    color: $white;
    padding: $spacer * 2 $spacer * 3;
    border-radius: 1.5rem;
    height: 45px;
    &:hover {
        opacity: 0.85;
    }

    &.stroked-button {
        background: transparent;
        border: 1px solid $secondary-300;
        color: $secondary-300;
    }

    &.flat-button {
        background: $white;
        border: none;
        color: $primary;
    }
}

.mmb-secondary-light-button {
    background-color: $secondary-1000;
    background: $secondary-1000;
    // border: 1px solid $white;
    color: $secondary-300;
    padding: $spacer * 2 $spacer * 4;
    border-radius: 1.5rem;
    height: 45px;
    &:hover {
        opacity: 0.85;
        background: $secondary-1000;
        color: $secondary-300;
        border-color: none;
    }
}

.btn--sm {
    padding: $spacer $spacer *5;
    height: 35px;
}

.mmb-secondary-light-button--dark {
    background-color: $secondary-300;
    color: $white;
}

.mmb-button--lightest {
    background-color: $white;
    height: 35px;
    padding: $spacer * 2 $spacer * 2;

    .icon--primary {
        background-color: $primary;
        border-radius: 50% 50%;
        width: 24px;
        height: 24px;
        .material-icons {
            color: $white;
            font-size: 16px;
        }
    }
}

.btn-link {
    background: transparent;
    cursor: pointer;
    color: $black-100;
    &:hover {
        color: $primary;
    }
}

.mmb-rounded-icon-btn {
    border-radius: 50% 50%;
    width: 32px;
    max-width: 32px;
    height: 32px;
    max-height: 32px;
    padding: 0;
    i {
        margin-left: 2px;
    }
}

.btn--muted {
    background: $bg-lightest;
    color: $black-600;

    &:hover {
        background: $bg-lightest;
        color: $black-600;
    }
}

.btn--disabled {
    pointer-events: none;
    background-color: $bg-gray-disabled !important;
    border: none !important;
    color: $text-gray-disabled !important;
}