<div class="bg-lightest border-radius-8 p-4 text-dark mb-3"
    *ngIf="experience.industries || experience.functions || experience.remunerations || experience.languages">
    <h6 class="medium text-uppercase mb-2">Industry</h6>
    <div class="admin-panel-html-renderer mb-2 medium">
        <ul>
            <li *ngFor="let item of experience.industries"> {{ item.industry }}</li>
        </ul>
    </div>

    <h6 class="medium text-uppercase mb-2">Function</h6>
    <div class="admin-panel-html-renderer mb-2 medium">
        <ul>
            <li *ngFor="let item of experience.functions"> {{ item.function }}</li>
        </ul>
    </div>

    <h6 class="medium text-uppercase mb-2">Compensation</h6>
    <div class="admin-panel-html-renderer mb-2 medium">
        <ul>
            <li *ngFor="let item of experience.remunerations"> {{ item.remuneration }}</li>
        </ul>
    </div>

    <h6 class="medium text-uppercase mb-2">Language</h6>
    <div class="admin-panel-html-renderer medium">
        <ul>
            <li *ngFor="let item of experience.languages"> {{ item.language }}</li>
        </ul>
    </div>
</div>