<div class="accounts inner-pages bg-white h-100vh-navbar-adjust">
    <section class="section welcome-area bg-overlay subscribe-area ptb_100">
      <div class="container h-100">
        <div class="row align-items-center justify-content-center h-100">
          <div class="col-12 col-md-10 col-lg-8">
            <div class="subscribe-content text-center">
              <h1 class="text-white" i18n="Forgot Password Movemeback title|Forgot password movemeback title@@forgotPasswordMovemebackTitle" *ngIf="!successMessage">Forgot your password?</h1>
              <h1 class="text-white" i18n="Forgot Password Success Movemeback title|Forgot password success movemeback title@@forgotPasswordSuccessMovemebackTitle" *ngIf="successMessage">Check your E-Mail</h1>
              <p class="text-white my-4" i18n="Enter email Movemeback title|Enter email movemeback title@@enterEmailMovemebackTitle" *ngIf="!successMessage">Enter your email address to reset your password</p>
              <p class="text-white my-4" i18n="Enter email success Movemeback title|Enter email success movemeback title@@enterEmailSuccessMovemebackTitle" *ngIf="successMessage">We sent you link to reset your password</p>
              <form class="subscribe-form" [formGroup]="forgotPaswordForm" *ngIf="!successMessage">
                <div class="form-group">
                  <input type="email" placeholder="your@email.com"
                    i18n-placeholder="Forgot Password Movemeback form email|Forgot password movemeback form email@@forgotPasswordMovemebackFormEmail"
                    class="form-control" formControlName="email">
                </div>
                <div class="button-group store-buttons dflex" *ngIf="!successMessage">
                  <a class="btn sApp-btn mt-2" i18n="Forgot Password Movemeback forgot password button|Forgot password movemeback forgot password button@@forgotPasswordMovemebackForgotPasswordButton" (click)="onResetPassword()">
                    Reset Password
                  </a>
              </div>
              </form>
              <div class="button-group store-buttons dflex" *ngIf="successMessage">
                <a class="btn sApp-btn mt-2" [routerLink]="'/login'" i18n="Forgot Password success Movemeback forgot password button|Forgot password success movemeback forgot password button@@forgotPasswordMovemebackForgotPasswordSuccessButton">
                  Go back to Login
                </a>
            </div>
            </div>
          </div>
        </div>
      </div>
      <div class="shape-bottom">
        <svg viewBox="0 0 1920 310" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="svg replaced-svg">
            <title>sApp Shape</title>
            <desc>Created with Sketch</desc>
            <defs></defs>
            <g id="sApp-Landing-Page" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="sApp-v1.0" transform="translate(0.000000, -554.000000)" fill="#FFFFFF">
                    <path d="M-3,551 C186.257589,757.321118 319.044414,856.322454 395.360475,848.004007 C509.834566,835.526337 561.525143,796.329212 637.731734,765.961549 C713.938325,735.593886 816.980646,681.910577 1035.72208,733.065469 C1254.46351,784.220361 1511.54925,678.92359 1539.40808,662.398665 C1567.2669,645.87374 1660.9143,591.478574 1773.19378,597.641868 C1848.04677,601.75073 1901.75645,588.357675 1934.32284,557.462704 L1934.32284,863.183395 L-3,863.183395" id="sApp-v1.0"></path>
                </g>
            </g>
        </svg>
    </div>
    </section>
    </div>
    