<div class="form-group">
    <div class="form-group">
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Start typing to search career opportunities"
                aria-label="Start typing to search career opportunities">
            <div class="input-group-append">
                <span class="input-group-text text-white bg-primary">
                    <i class="material-icons mx-1">
                        search
                    </i>
                    Search
                </span>
            </div>
        </div>
    </div>
</div>