<div class="widget my-2" *ngIf="educations">
    <div class="single-accordion">
        <h5 class="row justify-content-between px-1 collapse show border-bottom">
            <div class="collapse show text-uppercase d-block p-3" role="button"
                i18n="Education title|Title for education in user's profile page@@userProfileEducationTitle">Education
            </div>
            <button *ngIf="isEditMode" type="button" class="btn btn-outline-primary mx-3 icon-button text-primary"
                (click)="addEducation(educations)">
                <i class="material-icons">add</i>
            </button>
        </h5>

        <div id="educationSection" class="collapse show p-3" *ngFor="let item of educations; let i = index">
            <mmb-web-app-media-item [image]="item.logo" [title]="item.organisation" [subTitle]="item.field_of_study"
                [startDate]="item.start_date" [endDate]="item.end_date" [location]="item.location"
                [details]="item.notes" (onEdit)="editEducation(item)" [isEditMode]="isEditMode"></mmb-web-app-media-item>
        </div>
        <div class="p-3" *ngIf="educations.length === 0">
            No education added yet
        </div>
    </div>
</div>