<aside class="sidebar sticky-top t-navbar-height">
    <!-- Single Widget -->
    <div class="single-widget">
        <!-- Search Widget -->
        <div class="widget-content search-widget">
            <form action="#">
                <input type="text" placeholder="Enter your keywords">
            </form>
        </div>
    </div>
    <!-- Single Widget -->
    <div class="single-widget">
        <!-- Category Widget -->
        <div class="accordions widget catagory-widget" id="cat-accordion">
            <div class="single-accordion blog-accordion">
                <h5>
                    <a role="button" class="collapse show text-uppercase d-block p-3"
                        data-toggle="collapse" href="#accordion1">Categories
                    </a>
                </h5>
                <!-- Category Widget Content -->
                <div id="accordion1" class="accordion-content widget-content collapse show"
                    data-parent="#cat-accordion">
                    <!-- Category Widget Items -->
                    <ul class="widget-items">
                        <li><a href="#" class="d-flex p-3"><span>Web Design</span><span
                                    class="ml-auto">(14)</span></a></li>
                        <li><a href="#" class="d-flex p-3"><span>App Landing</span><span
                                    class="ml-auto">(32)</span></a></li>
                        <li><a href="#" class="d-flex active p-3"><span>Wordpress</span><span
                                    class="ml-auto">(27)</span></a></li>
                        <li><a href="#" class="d-flex p-3"><span>UI Design</span><span
                                    class="ml-auto">(18)</span></a></li>
                        <li><a href="#" class="d-flex p-3"><span>Bootstrap</span><span
                                    class="ml-auto">(15)</span></a></li>
                        <li><a href="#" class="d-flex p-3"><span>Web Template</span><span
                                    class="ml-auto">(29)</span></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</aside>