<div>
    <div class="mt-n2 px-15">
        <div class="text-center pt-3">
            <h5 class="mb-1">Name, you’re all done!</h5>
            <div class="separator m-auto mt-3 mb-3"></div>

            <div class="py-3">
                <div class="text-dark-300">
                    We are delighted to welcome you as the newest member of our community.
                </div>
                <div class="text-dark-300 mt-3">
                    Your profile is now setup and ready to go.
                </div>
            </div>
        </div>
    </div>

    <div class="px-20 text-center">
        <button routerLink="/" class="mt-2 btn mmb-secondary-light-button mmb-secondary-light-button--dark btn--sm">
            Start exploring
        </button>
    </div>
</div>