<div class="bg-light" fxHide.lt-md>
    <div class="offset-lg-2 col-lg-8 py-2 font-size-md">
        <div fxLayout="row wrap" fxLayout.lt-md="column" fxLayoutAlign="space-between center">
            <div fxShow fxHide.lt-md fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="20px">
                <div class="py-1 pl-2 px-2 cursor-pointer" (click)="activeTab = 1"
                    [ngClass]="{'mmb-tab-active': activeTab === 1}">
                    Terms of Use
                </div>
                <div class="py-1 px-2 cursor-pointer" (click)="activeTab = 2"
                    [ngClass]="{'mmb-tab-active': activeTab === 2}" fxLayout="row" fxLayoutAlign="start center"
                    fxLayoutGap="10px">
                    Privacy Policy
                </div>
                <div class="py-1 px-2 cursor-pointer" (click)="activeTab = 3"
                    [ngClass]="{'mmb-tab-active': activeTab === 3}" fxLayout="row" fxLayoutAlign="start center"
                    fxLayoutGap="10px">
                    Cookie Policy
                </div>
                <div class="py-1 px-2 cursor-pointer" (click)="activeTab = 4"
                    [ngClass]="{'mmb-tab-active': activeTab === 4}">
                    Accessibility
                </div>
                <div class="py-1 px-2 cursor-pointer" (click)="activeTab = 5"
                    [ngClass]="{'mmb-tab-active': activeTab === 5}">
                    Organisations
                </div>
            </div>
            <div ngClass.lt-md="w-100">
                <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="10px">
                    <button class="btn mmb-secondary-button mmb-button--sm" fxLayout="row" fxLayoutAlign="center center">
                        <span>Help & Support</span>
                        <i class="material-icons">chevron_right</i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>