<section class="section service-area bg-gray overflow-hidden ptb_100">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-12 col-lg-6 order-2 order-lg-1">
                <!-- Service Text -->
                <div class="service-text pt-4 pt-lg-0">
                    <h2 class="text-capitalize mb-4">AFRICAN OPPORTUNITIES WORTH MOVING BACK FOR</h2>
                    <p class="mb-4">Movemeback is making Africa’s most exciting and unique opportunities accessible and realisable to top talent, leaders, influencers and organisations. As a members community, we connect talented professionals, students and entrepreneurs to high-potential career, entrepreneurial, investment and partnership opportunities. We are enabling and empowering talented individuals to shape and accelerate Africa’s social and economic development via:</p>
                    <!-- Service List -->
                    <ul class="service-list">
                        <!-- Single Service -->
                        <li class="single-service media py-2">
                            <div class="service-icon pr-4">
                                <span><i class="fas fa-briefcase"></i></span>
                            </div>
                            <div class="service-text media-body">
                                <p><span class="text-primary">Careers - </span> Providing professionals and students with access to corporate, start-up, policy and social impact opportunities and more</p>
                            </div>
                        </li>
                        <!-- Single Service -->
                        <li class="single-service media py-2">
                            <div class="service-icon pr-4">
                                <span><i class="fas fa-hands-helping"></i></span>
                            </div>
                            <div class="service-text media-body">
                                <p><span class="text-primary">Collaboration - </span> Facilitating relationships between our members for collaboration on high-profile or private initiatives</p>
                            </div>
                        </li>
                        <!-- Single Service -->
                        <li class="single-service media py-2">
                            <div class="service-icon pr-4">
                                <span><i class="fas fa-building"></i></span>
                            </div>
                            <div class="service-text media-body">
                                <p><span class="text-primary">Entrepreneurship - </span> Enabling global change-makers and entrepreneurs to start building African solutions, even from abroad</p>
                            </div>
                        </li>
                        <!-- Single Service -->
                        <li class="single-service media py-2">
                            <div class="service-icon pr-4">
                                <span><i class="fas fa-lightbulb"></i></span>
                            </div>
                            <div class="service-text media-body">
                                <p><span class="text-primary">Insights - </span> Sharing inspiration, knowledge, intelligence and authentic African insight to support individual journeys</p>
                            </div>
                        </li>
                        <!-- Single Service -->
                        <li class="single-service media py-2">
                            <div class="service-icon pr-4">
                                <span><i class="fas fa-wallet"></i></span>
                            </div>
                            <div class="service-text media-body">
                                <p><span class="text-primary">Investment - </span> Supporting global funding of high potential, African focused companies, projects and turnarounds</p>
                            </div>
                        </li>
                    </ul>
                    <p class="mt-4">Movemeback is a members community of exceptional individuals. Apply now to join us. Membership is free and quick, although we screen every application against the dimensions of professional, leadership, academic and/or entrepreneurial excellence prior to approval</p>
                    <a href="#" class="btn btn-bordered mt-4">Apply to Join Now</a>
                </div>
            </div>
            <div class="col-12 col-lg-4 order-1 order-lg-2 d-none d-lg-block">
                <!-- Service Thumb -->
                <div class="service-thumb mx-auto">
                    <img src="assets/img/features_thumb.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>