<div class="bg-white py-4" *ngIf="organisation">
    <h6 class="mmb-perm-title mb-3">Culture</h6>
    <div class="px-6">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque pharetra nunc id pharetra rhoncus. Morbi vitae
        orci sagittis, luctus ipsum non, laoreet sem. Vivamus eget ipsum ut nunc maximus suscipit. Phasellus blandit,
        nisl eu ultrices imperdiet, tellus odio laoreet leo, et faucibus orci ligula facilisis erat. Suspendisse
        potenti. Vestibulum erat velit, congue id mi non, efficitur finibus augue. Nullam neque purus, ultricies eu
        ornare vel, ultrices ut ex.
        <br /><br />
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque pharetra nunc id pharetra rhoncus. Morbi vitae
        orci sagittis, luctus ipsum non, laoreet sem. Vivamus eget ipsum ut nunc maximus suscipit.
    </div>
</div>