<div class="bg-secondary text-white">
    <div class="offset-lg-2 col-lg-8 px-5 py-5">
        <div fxLayout="space-between center">
            <div fxFlex>
                <div fxFlexLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
                    <i class="material-icons color-secondary-900 font-size-32">miscellaneous_services</i>
                    <h2 class="font-family-light mb-0">Opportunities</h2>
                </div>
                <div class="mt-2">Make meaningful connections to new partners, advisors and mentors</div>
            </div>
            <div fxFlex>
                <div class="input-group input-group--secondary w-75 bg-secondary-500" ngClass.lt-md="w-100">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <img src="assets/images/icon-grey-search.svg" />
                        </span>
                    </div>
                    <input (change)="onSearchUpdated()" [(ngModel)]="searchString" class="form-control mmb-text-input"
                        type="text" placeholder="Search Opportunities" />
                </div>
            </div>
        </div>
    </div>
</div>

<div class="bg-white" fxHide.lt-md>
    <div class="offset-lg-2 col-lg-8 py-4 px-4">
        <div fxLayout="row wrap" fxLayout.lt-md="column" fxLayoutAlign="space-between center">
            <div fxShow fxHide.lt-md fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="20px">
                <div class="py-1 pl-2 px-2 cursor-pointer" (click)="activeTab = 1"
                    [ngClass]="{'mmb-tab-active': activeTab === 1}">
                    Browse
                </div>
                <div class="py-1 px-2 cursor-pointer" disabled [ngbTooltip]="'Coming soon'"
                    [ngClass]="{'mmb-tab-active': activeTab === 2}" fxLayout="row" fxLayoutAlign="start center"
                    fxLayoutGap="10px">
                    <span>My Opportunity</span>
                    <span class="badge badge-secondary">0</span>
                </div>
            </div>

            <div>
                <button class="btn mmb-secondary-light-button mr-1" [routerLink]="'create'" fxLayout="row"
                    fxLayoutAlign="center center" fxLayoutGap="10px">
                    <span>Create Opportunity</span>
                    <i class="material-icons">miscellaneous_services</i>
                </button>
            </div>
        </div>
    </div>
</div>

<mmb-web-app-opportunity-sub-navbar fxHide.lt-md (onFilterChange)="onFilterClick($event)">
</mmb-web-app-opportunity-sub-navbar>

<div class="row offset-lg-2 col-lg-8 mb-4 px-2" ngClass.lt-md="mx-0">
    <mmb-web-app-opportunity-sub-navbar fxHide.gt-sm></mmb-web-app-opportunity-sub-navbar>

    <div class="px-5 py-0 w-100" *ngIf="requests">
        <div fxLayout="row" fxLayoutAlign="space-between center">
            <div>Available <strong class="font-family-bold">{{ totalCount }} Opportunities</strong></div>
            <div [ngbTooltip]="'Coming soon'">Grid / List / Archived</div>
        </div>

        <div class="row mt-4" infiniteScroll [infiniteScrollDistance]="5" [infiniteScrollThrottle]="150"
            (scrolled)="onScroll()">
            <div class="col-lg-4 col-md-6 mb-4" *ngFor="let request of requests">
                <mmb-web-app-opportunity-card (expressInterest)="onExpressInterest(request)" [request]="request"
                    (bookmark)="onBookmark(request)" (removeBookmark)="onRemoveBookmark(request)">
                </mmb-web-app-opportunity-card>
            </div>
        </div>
    </div>
</div>

<div class="text-center p-5">
    <mmb-ui-inline-loader text="Loading opportunities around the community..." *ngIf="isLoading">
    </mmb-ui-inline-loader>
</div>
