<div class="d-flex">
    <div class="media mr-auto bg-light py-1 px-2 text-center rounded border shadow-sm mr-2">
        <i class="align-self-center material-icons-outlined base mr-1">
            edit
        </i>
        <span class="medium" i18n="Edit button label|Label for edit button in collaboration management@@editButtonTitleCollaborationsManagementPage">Edit</span>
    </div>

    <div class="media bg-light py-1 px-2 text-center rounded border shadow-sm">
        <i class="align-self-center material-icons-outlined base mr-1">
            delete
        </i>
        <span class="medium" i18n="Delete button label|Label for delete button in collaboration management@@deleteButtonTitleCollaborationsManagementPage">Delete</span>
    </div>
</div>