<div class="row bg-secondary text-white d-flex justify-content-center p-5">
    <div class="col-lg-5">
        <h4 class="my-2" i18n="Companies Movemeback title|Title for companies movemeback title@@companiesMovemebackTitle">FIND
            OUT
            HOW <strong>MOVEMEBACK</strong>
            CAN SUPPORT YOUR ORGANISATION
        </h4>
        <p i18n="Companies Movemeback text|Text for companies movemeback icons text@@companiesMovemebackText">
            Movemeback support leading organisations do more in Africa, by proving unprecedented exposure to a highly
            curated
            community of professionals,
            entrepreneurs and leaders
        </p>

        <mmb-web-app-media icon="search" title="Talent Sourcing"
         text="Find your next hire from a community of professionals, entrepreneurs and leaders from 150 countries, across seniority, function and industries"
         i18n-title="Companies Movemeback title|Title for companies movemeback icons headers@@companiesMovemebackIconsHeadersTalentTitle"
         i18n-text="Companies Movemeback title|Text for companies movemeback icons headers@@companiesMovemebackIconsHeadersTalentText">
        </mmb-web-app-media>

        <mmb-web-app-media icon="speaker_phone" title="Brand Engagement" 
        text="Increase brand awareness by tapping in to a highly concentrated pool of professionals, entrepreneurs and leaders" i18n-title="Companies Movemeback title|Title for companies movemeback icons headers@@companiesMovemebackIconsHeadersBrandTitle"
            i18n-text="Companies Movemeback title|Text for companies movemeback icons headers@@companiesMovemebackIconsHeadersBrandText">
        </mmb-web-app-media>

        <mmb-web-app-media icon="airplanemode_active" title="Market Entry"
         text="Utilise our consultancy services, tools, insights and community to support your entry into / expansion across Africa" i18n-title="Companies Movemeback title|Title for companies movemeback icons headers@@companiesMovemebackIconsHeadersMarketTitle"
            i18n-text="Companies Movemeback title|Text for companies movemeback icons headers@@companiesMovemebackIconsHeadersMarketText">
        </mmb-web-app-media>

        <mmb-web-app-media icon="calendar_today" title="Events" text="Increase event participation and engagement, and convert participants' enthusiasm for Africa into tangible engagement with opportunities" i18n-title="Companies Movemeback title|Title for companies movemeback icons headers@@companiesMovemebackIconsHeadersEventsTitle"
            i18n-text="Companies Movemeback title|Text for companies movemeback icons headers@@companiesMovemebackIconsHeadersEventsText">
        </mmb-web-app-media>

        <mmb-web-app-media icon="highlight" title="Insight" text="Leverage an engaged community and engagement with our platform for market knowledge and company / opportunity insights" i18n-title="Companies Movemeback title|Title for companies movemeback icons headers@@companiesMovemebackIconsHeadersInsightTitle"
            i18n-text="Companies Movemeback title|Text for companies movemeback icons headers@@companiesMovemebackIconsHeadersInsightText">
        </mmb-web-app-media>

    </div>
    <mmb-web-app-request-more-info-form class="col-lg-3">
    </mmb-web-app-request-more-info-form>
</div>

<div class="p-2 col-md-10 offset-md-1">
    <div class="mt-4 py-2">
        <h3 class="text-primary text-center "i18n="Companies Supported title|Title for companies movemeback Supported header@@companiesMovemebackSupportedTitle">Organizations we've supported</h3>
        <div class="d-flex flex-row justify-content-around align-items-center flex-wrap">
            <img src="assets/logos/facebook_logo.png" class="w-50p m-4" alt="Facebook" i18n-alt="Companies logos facebook title|Title for companies facebook logo@@companiesMovemebackFacebookLogo">
            <img src="assets/logos/uber_logo.png" class="w-75p m-4" alt="Uber" i18n-alt="Companies logos uber title|Title for companies uber logo@@companiesMovemebackUberLogo">
            <img src="assets/logos/dalberg_logo.jpg" class="w-100p m-4" alt="Dalberg" i18n-alt="Companies logos dalberg title|Title for companies dalberg logo@@companiesMovemebackDalbergLogo">
            <img src="assets/logos/jumia_logo.png" class="w-100p m-4" alt="Jumia" i18n-alt="Companies logos jumia title|Title for companies jumia logo@@companiesMovemebackJumiaLogo">
            <img src="assets/logos/ecobank_logo.png" class="w-100p m-4" alt="Ecobank" i18n-alt="Companies logos ecobank title|Title for companies ecobank logo@@companiesMovemebackEcobankLogo">
            <img src="assets/logos/the_aspen_institute_logo.png" class="w-100p m-4" alt="The Aspen Institute" i18n-alt="Companies logos aspen title|Title for companies aspen logo@@companiesMovemebackAspenLogo">
            <img src="assets/logos/mest_logo.jpg" class="w-100p m-4" alt="Mest" i18n-alt="Companies logos facebook title|Title for companies mest logo@@companiesMovemebackMestLogo">
            <img src="assets/logos/andela_logo.png" class="w-100p m-4" alt="Andela" i18n-alt="Companies logos andela title|Title for companies andela logo@@companiesMovemebackAndelaLogo">
            <img src="assets/logos/one_acre_fund.png" class="w-100p m-4" alt="One Acre Fund" i18n-alt="Companies logos OneAcreFund title|Title for companies OneAcreFund logo@@companiesMovemebackOneAcreFundLogo">
            <img src="assets/logos/global_health_corps.png" class="w-75p m-4" alt="Global Health Corps" i18n-alt="Companies logos GlobalHealthCorps title|Title for companies GlobalHealthCorps logo@@companiesMovemebackGlobalHealthCorpsLogo">
        </div>
    </div>
    <hr />
    <div class="mt-4 py-2">
        <h3 class="text-center text-primary" i18n="Companies News title|Title for companies movemeback News header@@companiesMovemebackNewsTitle">Movemeback in the News</h3>
        <div class="d-flex flex-row justify-content-around align-items-center flex-wrap">
            <img src="assets/logos/bbc_logo.png" class="w-140p m-4" alt="BBC" i18n-alt="Companies logos bbc title|Title for companies bbc logo@@companiesMovemebackBBCLogo">
            <img src="assets/logos/quartz_logo.png" class="w-140p m-4" alt="Quartz" i18n-alt="Companies logos quartz title|Title for companies quartz logo@@companiesMovemebackQuartzLogo">
            <img src="assets/logos/huffingont_post_logo.png" class="w-140p m-4" alt="Huffington Post" i18n-alt="Companies logos huffington title|Title for companies huffington logo@@companiesMovemebackHuffingtonLogo">
            <img src="assets/logos/london_stock_exchange_logo.png" class="w-140p m-4" alt="London Stock Exchange" i18n-alt="Companies logos LondonStockExchange title|Title for companies LondonStockExchange logo@@companiesMovemebackLondonStockExchangeLogo">
            <img src="assets/logos/mckinsey_and_company_Logo.png" class="w-140p m-4" alt="Mckinsey and Company" i18n-alt="Companies logos MckinseyAndCompany title|Title for companies MckinseyAndCompany logo@@companiesMovemebackMckinseyAndCompanyLogo">
            <img src="assets/logos/financial_times_logo.png" class="w-140p m-4" alt="Financial Times" i18n-alt="Companies logos FinancialTimes title|Title for companies FinancialTimes logo@@companiesMovemebackFinancialTimesLogo">
            <img src="assets/logos/aws_logo.png" class="w-140p m-4" alt="AWS Amazon Web Services" i18n-alt="Companies logos aws title|Title for companies aws logo@@companiesMovemebackAwsLogo">
        </div>
    </div>
    <hr />
    <div class="mt-4 py-2">
        <h3 class="text-primary text-center" i18n="Companies Movemeback section title|Title for companies movemeback app section@@companiesMovemebackAppSectionTalentTitle">
            Are you in search of top talent, expert advisors, investors or other international partners?
        </h3>
        <br />
        <div class="d-flex flex-row justify-content-around align-items-center flex-wrap text-center" i18n="Companies Movemeback section description|Description for companies movemeback app section@@companiesMovemebackAppSectionTalentDescription">
            Are you an African organisation in search of top talent, or a company seeking expert advisors,
            investors or other international partners? Movemeback is a members-only community comprised of
            accomplished individuals and organisations with proven track-records of professional, leadership and
            academic excellence. We have a high concentration of African diasporans, as well as other Africa
            advocates, interested in opportunities, ranging from relocation for jobs and business through to
            investments and partnerships on the continent We’re partnering with the most influential and
            forward-thinking companies, organisations and causes in Africa to source high calibre talent from
            across the diaspora and beyond. Our remit also includes facilitating access to the international
            partnerships that are critical to their growth and impact – from investors to advisors
        </div>
    </div>
</div>