<mmb-web-app-terms-of-use-top-bar></mmb-web-app-terms-of-use-top-bar>

<div class="bg-white">
    <h5 class="offset-lg-2 col-lg-8 p-4 font-weight-light font-family-light">
        Movemeback Terms of Use
    </h5>
</div>

<div class="offset-lg-2 col-lg-8 p-4">
    <h5 class="mt-4 mb-3">Introduction</h5>
    <div class="mt-2 mb-5">
        <div class="mb-3">
            Movemeback is making Africa’s most exciting and unique opportunities accessible and realisable to top
            talent,
            leaders, influencers and organisations. As a members community, we connect talented professionals, students
            and
            entrepreneurs to high-potential career, entrepreneurial, investment and partnership opportunities, and each
            other.
        </div>

        <div class="mb-3">
            ​​You agree that by creating an account on Movemeback or using the Service (as defined below) in any manner,
            you
            are entering into a legally binding contract with Movemeback. If you do not agree to this contract (“Terms
            of
            Use”, “Terms” or “Contract”), do not create an account (e.g. by clicking “Create account” or similar) and do
            not
            access or otherwise use any of our Service. If you wish to terminate this Contract, at any time you can do
            so by
            closing your account and no longer accessing or using our Service. This Contract applies to all Members,
            Partners, Organisations and Users of Movemeback, and unregistered users (“Visitors”).
        </div>

        <div>
            You must be at least 16 year old to use the Service. By accessing the website, you represent that you are
            over the age of sixteen (16) years old.
        </div>
    </div>


    <h5 class="mt-4 mb-4">Service</h5>
    <div class="mt-2 mb-5">
        <div class="mb-3">
            This Contract applies to all services that state they are offered under this contract (“Service”).
            Service collectively include the “Website” (i.e. www.movemeback.com and including all webpages,
            subdomains, and any successor or affiliated websites), emails, instant chat messages, other
            communications, accounts, Opportunities, Opportunity applications, Forum content, Requests and Request
            responses, Events, any other products or services offered on the Website, and any other services that
            state they are governed by these Terms. “Content” means any and all text, articles, images,
            illustrations, photographs, video, audio, or other materials appearing on the Website, including,
            without limitation, information about Partners, Organisations, information, resources, blogs, advice,
            questions, answers, or other content located on the website, whether created or posted by you,
            Movemeback, or any other user.
        </div>
    </div>

    <h5 class="mt-4 mb-4">Modifications</h5>
    <div class="mt-2 mb-5">
        <div class="mb-3">
            We may revise these Terms of Use at any time by amending this page. You are expected to check this page
            from time to time to take notice of any changes we make, as they are binding on you. Some of the
            provisions contained in these Terms of use may also be superseded by provisions or notices published
            elsewhere on our website. Changes to these Terms will be effective as of the date we post them or
            otherwise notify you of them, unless we specify a different effective date when we make a particular
            change. Your continued use of the Service will constitute your acceptance of updated Terms. If you do
            not agree to a change, you must stop using the Service.
        </div>
    </div>

    <h5 class="mt-4 mb-4">Account</h5>
    <div class="mt-2 mb-5">
        <div class="mb-3">
            You are not required to provide us with your Personal Information unless you create an account with us and
            provide us with certain Personal Information. If you do not create a Movemeback account, we may not be able
            to provide you with access to some of our Service. If you choose not to create an account on Movemeback, you
            can still use part of our Service as a Visitor.
        </div>

        <div class="mb-3">
            As an account holder you agree to: 1) be responsible for maintaining the confidentiality and security of
            your account information, including any usernames or passwords; 2) be solely responsible for the activity
            that occurs on your Movemeback account and for any activities or actions under your password; 3) not create
            an account for someone else or allow someone else to use your Movemeback account; 4) notify us immediately
            of any actual or suspected unauthorized access to or use of your account or any breach of security related
            to your account. If we have reason to believe that there is likely to be a breach of security or misuse of
            our website, we may require you to change your password or we may suspend your account. Movemeback will not
            be liable for any loss or damage arising from your failure to comply with this instruction.
        </div>

        <div class="mb-3">
            Movemeback reserves the right to restrict, suspend, or terminate your account if we believe that you may be
            in breach of this Contract or law or are misusing the Service (e.g. violating our Code of Conduct, as
            detailed below).
        </div>

        <div class="mb-3">
            If your Movemeback account has been cancelled by us, or you have been removed or otherwise blocked from the
            website due to a violation of our Code of Conduct or for any other reason, you may not continue to use the
            Service. You may cancel your Movemeback account at any time by contacting us using the contact details
            below.
        </div>

        <div class="mb-3">
            We reserve the right to restrict your access to any part of Movemeback and our Service.
        </div>

        <div class="mb-3">
            We process information about you in accordance with our Privacy Policy. By using our website, you consent to
            such processing and you warrant that all data provided by you is accurate.
        </div>
    </div>

    <h5 class="mt-4 mb-4">Application for Membership</h5>
    <div class="mt-2 mb-5">
        <div class="mb-3">
            In order to use Movemeback as a Member, you must register and apply to join, and be accepted as a Movemeback
            member. When applying to join Movemeback, we may require you to provide us information such as your name,
            e-mail address, CV, employment history, work experience, educational background, skill set, and professional
            preferences in relation to Africa. We may allow you to use a third party service such as LinkedIn to support
            your registration and application to Movemeback. We will review the information that you provide to us
            during the registration and application process and we may also review any other publicly available
            information about you. We reserve the right, in our sole discretion, to accept or reject your application to
            join Movemeback. If your application is accepted, you will be allowed to use our Service.
        </div>
    </div>

    <h5 class="mt-4 mb-4">Communications from Movemeback</h5>
    <div class="mt-2 mb-5">
        <div class="mb-3">
            You agree that Movemeback will provide you with notices and messages in the following ways: 1) via our
            Service; 2) via email 3.) via other channels you permit us to use such as phone or mobile app. You agree to
            keep your contact information up to date.
        </div>
    </div>

    <h5 class="mt-4 mb-4">Professional Opportunity Interests and Applications</h5>
    <div class="mt-2 mb-5">
        <div class="mb-3">
            Movemeback provides Members with information on professional Opportunities. We allow you to express interest
            and/or submit applications directly through our website. Your interest/application may then be shared with
            the Organisation or Partner responsible for the Opportunity.
        </div>
    </div>

    <h5 class="mt-4 mb-4">Recommendations</h5>
    <div class="mt-2 mb-5">
        <div class="mb-3">
            We will use the information and data that you provide and that we have about you to make recommendations for
            Opportunities, Content and features that we think may be useful. Keeping your profile accurate and
            up-to-date helps us to make these recommendations more accurate and relevant.
        </div>
    </div>

    <h5 class="mt-4 mb-4">Sharing</h5>
    <div class="mt-2 mb-5">
        <div class="mb-3">
            Our Service allow the sharing of Content in many ways, such as, Opportunity postings, Requests, questions,
            answers, comments, events, and blog content. Content you share or post may be seen and copied by other
            Members, Visitors, or others, and may be accompanied by your name (and photo and professional title if you
            provide this on your Movemeback profile). You should only post Content that you are comfortable sharing with
            others under these Terms. If you are applying for an Opportunity or responding to a Request, our default it
            to share it only with the Opportunity provider or Request creator. We are not obligated to publish any
            information or Content on our Service and can remove it in our sole discretion, with or without notice.
        </div>
    </div>

    <h5 class="mt-4 mb-4">Your Content</h5>
    <div class="mt-2 mb-5">
        <div class="mb-3">
            You grant to Movemeback a worldwide, irrevocable, non-exclusive, royalty-free license to use, reproduce,
            adapt, publish, translate and distribute your user content in any existing or future media. You also grant
            to us the right to sub-license these rights, and the right to bring an action for infringement of these
            rights.
        </div>

        <div class="mb-3">
            Your user content must not be illegal or unlawful, must not infringe any third party's legal rights, and
            must not be capable of giving rise to legal action whether against you or Movemeback or a third party (in
            each case under any applicable law).
        </div>

        <div class="mb-3">
            You must not submit any user content to the website that is or has ever been the subject of any threatened
            or actual legal proceedings or other similar complaint.
        </div>

        <div class="mb-3">
            We ask that you treat the Movemeback community with respect. Spam, personal attacks, and abusive language do
            not have a place on Movemeback. By accessing, viewing, or sharing Content on or to Movemeback, you also
            agree to abide by the Code of Conduct below. Please contact us if you come across any Content that looks
            like it violate our Terms or Code of Conduct.
        </div>

        <div class="mb-3">
            We reserve the right to edit or remove any material submitted to this website, or stored on our servers, or
            hosted or published upon our website.
        </div>

        <div class="mb-3">
            Notwithstanding our rights under these Terms in relation to user content, we do not undertake to monitor the
            submission of such content to, or the publication of such content on, this website.
        </div>
    </div>

    <h5 class="mt-4 mb-4">Our Content</h5>
    <div class="mt-2 mb-5">
        <div class="mb-3">
            Our website and Service contains Content posted by Movemeback and our licensors (“Movemeback Content”). We
            and our licensors retain all right, title and interest in and to such Movemeback Content, including all
            associated intellectual property rights, including, without limitation, copyrights, trademarks, trade names,
            trade dress, logos, patents, know-how, trade secrets, instructions, and all other proprietary information.
            This Content is protected by copyright laws and treaties around the world. All such rights are reserved.
        </div>

        <div class="mb-3">
            Movemeback reserves all of its intellectual property rights in the Service. Using the Service does not give
            you any ownership in our Service or the Content or information made available through our Service. Subject
            to your compliance with these Terms, Movemeback grants you a revocable, limited, non-exclusive,
            non-transferable license, to access and view any Movemeback Content solely for your personal and
            non-commercial purposes.
        </div>

        <div class="mb-3">
            You may print off one copy, and may download extracts, of any page(s) from our website for your personal
            reference and you may draw the attention of others within your organisation to material posted on our
            website. You must not modify the paper or digital copies of any materials you have printed off or downloaded
            in any way, and you must not use any illustrations, photographs, video or audio sequences or any graphics
            separately from any accompanying text. Our status (and that of any identified contributors) as the authors
            of material on our website must always be acknowledged.
        </div>

        <div class="mb-3">
            You must not use any part of the materials on our website for commercial purposes without obtaining a
            licence to do so from us or our licensors. If you print off, copy or download any part of our website in
            breach of these terms of use, your right to use our website will cease immediately and you must, at our
            option, return or destroy any copies of the materials you have made.
        </div>

        <div class="mb-3">
            You may not use data mining, robots, screen scraping, or similar data gathering and extraction tools on this
            website for establishing information contained on our website on your own website or in any other
            publication without obtaining a licence to do so from us or our licensors.
        </div>
    </div>

    <h5 class="mt-4 mb-4">Our Site Changes Regularly</h5>
    <div class="mt-2 mb-5">
        <div class="mb-3">
            We aim to update our website regularly, and may change the Content at any time. If the need arises, we may
            suspend access to our website, or close it indefinitely. Any of the material on our website may be out of
            date at any given time, and we are under no obligation to update such material.
        </div>
    </div>

    <h5 class="mt-4 mb-4">Service Availability</h5>
    <div class="mt-2 mb-5">
        <div class="mb-3">
            Access to our website is permitted on a temporary basis, and we reserve the right to withdraw or amend the
            service we provide on our website without notice (see below). We will not be liable if for any reason our
            website is unavailable at any time or for any period.
        </div>

        <div class="mb-3">
            We may change or discontinue any part of our Service, and do not promise to store or keep showing any
            Content that you have shared. You agree that we have no obligation to store, maintain or provide you a copy
            of any Content that you or others provide, except as required to do so by law and as noted in our Privacy
            Policy.
        </div>
    </div>

    <h5 class="mt-4 mb-4">Links to Third-Party Sites</h5>
    <div class="mt-2 mb-5">
        <div class="mb-3">
            Where our website contains links to other websites and resources provided by third parties, these links are
            provided for your information only. We have no control over the contents of those websites or resources, and
            accept no responsibility for them or for any loss or damage that may arise from your use of them.
        </div>
    </div>

    <h5 class="mt-4 mb-4">Linking to Our Website</h5>
    <div class="mt-2 mb-5">
        <div class="mb-3">
            You may link to our website, provided you do so in a way that is fair and legal and does not damage our
            reputation or take advantage of it, but you must not establish a link in such a way as to suggest any form
            of association, approval or endorsement on our part where none exists.
        </div>

        <div class="mb-3">
            You must not establish a link from any website that is not owned by you.
        </div>

        <div class="mb-3">
            We reserve the right to withdraw linking permission without notice.
        </div>
    </div>
</div>