<div class="bg-lightest border-radius--bottom px-3 py-5 text-dark-100">
    <div fxLayout="row" fxLayoutAlign="start start">
        <div fxFlex="110px">
            <!-- do not delete -->
            <!-- Patch for empty area for image -->
            <!-- The alignment needs to be achieved between two components -->
            <!-- do not delete -->
        </div>

        <div class="w-100" fxLayout="row" fxLayoutAlign="space-between start">
            <div class="pr-20">
                <h6>Something</h6>
                <div class="medium">
                    <div>Lorem ipsum </div>
                    <div>Board Level</div>
                    <div>Delorium</div>
                </div>
            </div>
            <div class="border-left px-20">
                <h6>Company</h6>
                <div class="medium">
                    <div>201 - 500 Employees</div>
                    <div>Cairo, Egypt</div>
                    <div>Founded: 2004</div>
                </div>
            </div>
            <div fxFlex class="border-left px-20">
                <h6>Sector</h6>
                <div class="medium">
                    <div>Type: Investing & Venture Building</div>
                    <div>Industry: Financial Services</div>
                    <div>Lorem ipsum: Lorem ipsum</div>
                </div>
            </div>
            <div class="pr-2 text-right">
                <a [href]="organisation.website_url" target="_blank">
                    <button class="btn mmb-primary-button stroked-button btn--sm">Visit website</button>
                </a>
            </div>
        </div>
    </div>
</div>