<div class="mb-5" [formGroup]="form">
    <div class="mmb-perm-title mb-3 text-transform-inherit mb-4">
        <div class="font-size-18 mb-1">
            <span class="font-family-bold">Specify relevant tags</span>
            <span class="font-family-light"> (optional)</span>
        </div>
        <div class="medium font-family-light">Help the right people find your opportunity quicker</div>
    </div>
    <div class="p-4 bg-white border-radius-8">
        <div class="mb-2">Add tags</div>
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
            <div class="input-group input-group--secondary bg-white border border-radius-8 w-200px">
                <input formControlName="tag" class="form-control mmb-text-input mmb-text-input--sm pl-4"
                    placeholder="Enter tag name ..." type="text">
            </div>
            <div>
                <button class="btn mmb-secondary-light-button mmb-secondary-light-button--dark btn--sm"
                    (click)="onAddTag()">
                    Add
                </button>
            </div>
        </div>
        <ng-container *ngIf="form.controls['tags'].value as tags">
            <hr class="my-4" *ngIf="tags.length > 0" />
            <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
                <button fxLayout="row" fxLayoutAlign="space-between center" *ngFor="let tag of tags"
                    class="btn mmb-primary-button stroked-button btn--sm px-2" (click)="onRemoveTag(tag)">
                    <span class="pl-1">{{ tag }}</span>
                    <i class="material-icons pl-3 font-size-16">close</i>
                </button>
            </div>
        </ng-container>
    </div>
</div>