<div class="row my-4 px-2 py-0" ngClass.lt-md="mx-0">
    <div class="px-5 py-0 w-100" infiniteScroll [infiniteScrollDistance]="0" [infiniteScrollThrottle]="150"
        (scrolled)="onScroll()">
        <div class="row" *ngIf="experiences">
            <div class="col-lg-4 col-md-6 col-sm-12 px-2" *ngFor="let experience of experiences">
                <mmb-web-app-experience-card [experience]="experience" (addBookmark)="onAddToFavorites(experience)"
                    (removeBookmark)="onRemoveFromFavorites(experience)" (expressInterest)="onExpressInterest(experience)">
                </mmb-web-app-experience-card>
            </div>
            <div class="px-3" *ngIf="(!experiences || experiences.length === 0) && !isLoading">
                No results found
            </div>
        </div>

        <div class="col-12 text-center py-2 w-100" *ngIf="isLoading">
            <mmb-ui-inline-loader text="More exciting African opportunities will be with you in just a second..."
                i18n-text="Experience all inline loader text|Title for experience all inline loader text@@experiencesAllInlineLoaderText">
            </mmb-ui-inline-loader>
        </div>
    </div>
</div>