<div class="modal-header">
    <h4 class="modal-title">
        Submit Answer
    </h4>
    <button type="button" class="close" aria-label="Close button" aria-describedby="modal-title"
        (click)="modal.dismiss()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <ckeditor ngbAutofocus [(ngModel)]="answer" [editor]="Editor" data=""
        [config]="{placeholder: 'Write your answer here...'}">
    </ckeditor>
    <br />
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary sApp-btn btn-sm" (click)="modal.dismiss()">Cancel</button>
    <button type="button" class="btn btn-danger sApp-btn btn-sm" (click)="onSubmit()">Submit</button>
</div>