<div class="modal-header">
    <h4 class="modal-title">
        Create a post
    </h4>
    <button type="button" class="close" aria-label="Close button" aria-describedby="modal-title"
        (click)="modal.dismiss()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="media mb-3" fxLayout="row" fxLayoutAlign="center center" *ngIf="user">
        <!-- Admin Thumb -->
        <div class="admin-thumb avatar-sm">
            <img [src]="user.image" alt="" class="rounded-circle"
                onerror="this.src='assets/images/avatars/not-found.png';">
        </div>
        <!-- Admin Content -->
        <div class="admin-content media-body pl-3 pt-1">
            <h6>{{ user.name }}</h6>
            <div class="text-muted" *ngIf="user.professionalTitle">{{ user.professionalTitle }}</div>
        </div>
    </div>
    
    <form [formGroup]="postForm">
        <!-- <label class="text-dark">Title</label>
        <textarea ngbAutofocus formControlName="title" placeholder="Enter question here..."
            i18n-placeholder="enter question text placeholder|Placeholder for question in connect@@questionTitlePlaceholderConnectRequestsPage"
            class="form-control border shadow-none"></textarea>
        <br />
        <label class="text-dark"
            i18n="Description label|Label for Description in connect@@SummaryLabelConnectRequestsPage">Description</label> -->
        <textarea ngbAutofocus formControlName="request" placeholder="Share with #moveme community here..." rows="8"
            class="form-control shadow-none pl-1"></textarea>
        <br />
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary btn-sm sApp-btn" (click)="modal.dismiss()"
        i18n="Cancel button label|Label for cancel in connect@@cancelButtonConnectRequestsPage">Cancel</button>
    <button type="button" class="btn btn-danger btn-sm sApp-btn" (click)="onAdd()">Post</button>
</div>