<div class="p-relative mmb-background onboarding-set-password-bg d-flex justify-content-center align-items-center h-100vh w-100">
    <div class="text-dark-100 bg-white border-radius-12 col-lg-3 col-md-6 col-sm-12">
        <img class="top-n10 left-auto p-absolute z-index-100 top-0" src="assets/images/avatars/avatar-not-found.svg" />
        <div class="p-5">
            <div class="separator m-auto pt-2"></div>

            <div class="text-center my-4">
                <h5>Create password</h5>
                <div>Please provide a password for your Movemeback profile</div>
            </div>
    
            <div>
                <label>
                    Password
                    <span class="small text-dark-600">(8 or more characters)</span>
                </label>
                <input [(ngModel)]="newPassword" type="password" class="form-control border" placeholder="Enter password..." />
    
                <button (click)="onSetPassword()"
                    class="mt-4 w-100 btn mmb-secondary-light-button mmb-secondary-light-button--dark btn--sm">Done</button>
            </div>
        </div>
    </div>
</div>