<button type="button" class="btn btn-primary" (click)="showErrorToast()">Show Error Toast</button>
<button type="button" class="btn btn-primary" (click)="showWarningToast()">Show Warning Toast</button>
<button type="button" class="btn btn-primary" (click)="showInfoToast()">Show Info Toast</button>
<button type="button" class="btn btn-primary" (click)="showSuccessToast()">Show Success Toast</button>

<br />
<button type="button" class="btn btn-primary" (click)="showErrorModal()">Show Error Modal</button>
<br />
<button type="button" class="btn btn-primary" (click)="redirect()">Redirect to Error</button>
<mmb-universal-error-handler></mmb-universal-error-handler>