$gray-600: #95a5a6;
$gray-900: #f3f6f8;
$white: #fff;
$black-100: #111;
$black-200: #222;
$black-300: #333;
$black-400: #444;
$black-600: #666;
$success: #18BC9C;
$warning: #F39C12;
$danger: #E74C3C;
$primary-900: #293b61;
$primary-500: #3498db;
$primary: #2671a4;
$primary-light: rgba(52, 152, 219, 0.5);
$secondary: #293a61;
$secondary-300: #106fff;
$secondary-500: #425374;
$secondary-900: #316ea4;
$secondary-1000: #e8f1ff;
$dark: #767b87;
$dark--500: #868b95;
$dark--800: #e5eaef;
$dark-blue: #003f91;
$purple: #833fff;
$light-blue: #0197f6;
$dark-pink: #cd44db;
$co-founder: #ca2e55;
$connection: #0197f6;
$expert-advice: #f8971d;
$investment: #34ba92;
$mentor: #833fff;
$partnership: #003f91;
$volunteer: #cd44db;
$other: #b9beca;
$all: #fff;
$bg-gray-disabled: #ebebeb;
$text-gray-disabled: #9e9e9e;
$open-status: #ffbc53;
$closed-status: #111111;
$in-demand-status: #ffbc53;
$active-status: #ffbc53;
$in-demand-color: #f97f15;
$btn-secondary-5: rgba(232, 241, 255, 0.5);
$notification-affirmative: #40a434;
$linkedin-primary: #0a66c2;

$spacer: 4px;
$em-spacer: 2em;

$bg-light: #f3f4f6;
$bg-lightest: #f9f9f9;
$btn-color--secondary: #666666;
$btn-bg--active: #5c94ba;

$badge-color: #344e54;

$font-family-bold: 'Helvetica-Neue-Bold';
$font-family-semi-bold: 'Helvetica-Neue-Bold';
$font-family: 'Helvetica-Neue-Regular';
$font-family-light: 'Helvetica-Neue-Light';

$font-size-sm: 12px;
$font-size-md: 14px;
$font-size-lg: 18px;

$color-muted: #b9beca;
$border-color--light: rgba(151, 151, 151, 0.15);
$shadow-color: rgba(185, 190, 202, 0.5);
